/* src/App.css */

/* Gaya umum */
body {
  background-color: #fff;
  color: #000;
}

/* Gaya khusus untuk tema gelap */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Gaya untuk tombol tema gelap */
.dark-mode-button {
  background-color: #333;
  color: #fff;
}

/* Gaya tombol Tema Terang dalam mode terang */
.light-mode .dark-mode-button {
  color: #fff;
}